.container{
    background: #136c72;
    padding: 1em ;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;

}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.linkItem{
    color: antiquewhite;
    text-decoration: none;
}